<nav style="z-index: 1;" class="navbar navbar-expand-lg bg-body-tertiary position-fixed w-100 ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-sharp fa-solid fa-truck-fast"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form class="d-flex justify-content-center ms-auto">
            <input type="text" class="form-control me-2">
            <button class="btn btn-outline-warning pe-4">Search</button>
        </form>
        <ul class="navbar-nav ms-auto">
            
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/wishlist">wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/cart">Cart</a>
          </li>
        </ul>
        
      </div>
    </div>
</nav>
