<div class="row">
    <div class='d-flex flex-wrap justify-content-evenly align-items-center bg-warning px-5'>
        <div class="company col-lg-3 p-3">
            <li class='fs-4'>
                <i class="fa-solid fa-basket-shopping me-2"></i>
                E-commerce
            </li>
            <h6 clliss='text-light mt-3'>Embark on a transformative journey within. Access a library of guided meditations and mindfulness exercises tailored to reduce stress, enhance focus, and foster inner peace.Understand yourself better with personalized reflection prompts. Emmorce helps you explore your thoughts and emotions, promoting self-awareness and personal growth.</h6>
        </div>
        <div class="pages d-flex flex-column justify-content-center col-lg-3 p-3">
            <h3 class='text-light'>Pages</h3>
            <li class='text-light'>
                Landing
            </li>
            <li class='text-light'>
                Home
            </li>
            <li class='text-light'>
                Watch History
            </li>
        </div>
        <div class="Guides d-flex flex-column justify-content-center col-lg-3 p-3">
            <h3 class='text-light'>Guides</h3>
            <li class='text-light'>
                React
            </li>
            <li class='text-light'>
                React Bootstrap
            </li>
            <li class='text-light'>
                Routing
            </li>
        </div>
        <div class="connections col-lg-3 p-3">
            <h3 class='text-light'>Contact US</h3>
            <form class='d-flex'>
                <input class='form-control me-2' type="email" placeholder='Enter your email Id' />
                <input class='btn btn-secondary' type="button" value="Subscribe" />
            </form>
            <div class='icons d-flex justify-content-around mt-3'>
                <li class='text-light'>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li class='text-light'>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li class='text-light'>
                    <i class="fa-brands fa-github"></i>
                </li>
                <li class='text-light'>
                    <i class="fa-brands fa-linkedin"></i>
                </li>
                <li class='text-light'>
                    <i class="fa-brands fa-whatsapp"></i>
                </li>
                <li class='text-light'>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li class='text-light'>
                    <i class="fa-brands fa-youtube"></i>
                </li>
            </div>
        </div>
    </div>
</div>
